<div class="page-center">
	<div class="main-box">
		<div class="center-it">
			<h1>A Village Like Me</h1>
			<p>
				You know that neighbourhood you absolutely love? The one you couldn't do without? Let us help you find one just like it another city!
			</p>
		</div>
		<div>
<<<<<<< HEAD
			<%= form_tag('/thanks') do %>

				<%= text_field_tag :current_city, nil, placeholder: "A Neighborhood, City", class: "placehold-text form-control form-margin", autofocus: true %>
				<%= text_field_tag :moving_to, nil, placeholder: "A different City of interest", class: "placehold-text form-control form-margin" %>
				<%= text_field_tag :email, nil, placeholder: "My Email", class: "placehold-text form-control form-margin" %>
=======
			<%= form_tag('/your_scene') do %>
				<div class="row">
					<div class="col-md-6">
						<%= text_field_tag :fave_hood, nil, placeholder: "My Favorite Neighborhood", class: "placehold-text form-control form-margin", autofocus: true %>
					</div>
					<div class="col-md-6">
						<%= text_field_tag :current_city, nil, placeholder: "My City", class: "placehold-text form-control form-margin" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= text_field_tag :moving_to, nil, placeholder: "And I'm Moving To...", class: "placehold-text form-control form-margin" %>
					</div>
				</div>
>>>>>>> 6830e98cd0bed031d7d77faeb13420e2a35441f6
				<div class="center-it">
					<button class="btn btn-danger">Find My Scene!</button>
				</div>
			<% end %>
  	</div>
	</div>
</div>
<script src="//cdn.optimizely.com/js/2433990499.js"></script>
