<div class="your-scene-main-box tb-margin">

		<div class="center-it">
			<% if @no_scene == true %>
				<div>
					<p>
						Dang! We haven't gotten a chance to scope out <strong><%= @mover.moving_to %></strong> just yet! 
					</p> 
<!-- 					<p>
						Leave us your email address and we'll let you know where your perfect neighborhood is...as soon as we do!  
					</p> -->
				</div>
			<% else %>
				<p>Welcome to...</p>
				<div class="limelight"><%= @your_scene %></div>
				<div class="what-it-offers">
					We think you're gonna like it here...<br />
					Click on the pins to see what <%= @your_scene %> has to offer!
				</div>
				<div id="map-canvas"></div>
			<% end %>
			<div class="row">
				<div class="col-md-4 center-it bpad-20">
					<button class="btn btn-primary">
						<a href=<%= "#{@zillow_url}" %> target="_blank" class="white-text">
							<span class="glyphicon glyphicon-home"></span> Housing
						</a>
					</button>
				</div>
				<div class="col-md-4 center-it bpad-20">
					<button class="btn btn-danger">
						<a href=<%= "#{@yelp_url}" %> target="_blank" class="white-text">
							<span class="glyphicon glyphicon-cutlery"></span> Eating
						</a>
					</button>
				</div>
				<div class="col-md-4 center-it">
					<button class="btn btn-warning">
						<a href=<%= "#{@stub_hub_url}" %> target="_blank" class="white-text">
							<span class="glyphicon glyphicon-sunglasses"></span> Going Out
						</a>
					</button>
				</div>
			</div>
		</div>

</div>

<%= javascript_tag do %>
  latitude = '<%= j @coordinates[0].to_s %>';
  longitude = '<%= j @coordinates[1].to_s %>';
  var points_of_interest = [];
	<% @points_of_interest.each do |poi| %>
		points_of_interest.push(<%= poi.to_json.html_safe %>);
	<% end %>
<% end %>
